.wrapper {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
a {
    text-decoration: none;
}
.menu {
    padding: 30px 0;
}
.menu a {
    font-family: Roboto, sans-serif ;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    margin: 0 35px;
}
h1 {
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 5px;
    font-weight: 800;
    text-align: center;
    padding: 0 0 5px 0;
}
.back {
    background-color: #f5f6f7;
}
.img1 {
    width: 1280px;
    height: 790px;
}
.main {
    color:  #373737;
    font-family: Roboto, sans-serif ;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 2px;
    padding: 30px 100px;
    background-color: rgb(245, 246, 247);
}
.button {
    display: inline-block;
    margin: 41px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: GothamRounded, sans-serif;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    background-color:  #16a085;
    letter-spacing: 2px;
    padding: 15px 35px;
    color: #ffffff;
}
.end {
    color:  #373737;
    font-family: Roboto, sans-serif ;
    font-size: 16px;
    font-weight: 800;
    text-align: right;
    margin-right: 70px;
    letter-spacing: 2px;
}
